---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<GOOGLE_API_GEOLOCATION>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 31 Jul 2019 01:43:54 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/39.7392358,-104.990251?exclude=minutely,alerts,flags
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 504ms
      X-Forecast-Api-Calls:
      - '48'
      X-Response-Time:
      - 230.012ms
    body:
      encoding: UTF-8
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1564537435,"summary":"Mostly
        Cloudy","icon":"partly-cloudy-day","nearestStormDistance":0,"nearestStormBearing":258,"precipIntensity":0,"precipProbability":0,"temperature":79.29,"apparentTemperature":79.29,"dewPoint":50.19,"humidity":0.36,"pressure":1014.97,"windSpeed":6.93,"windGust":14.51,"windBearing":297,"cloudCover":0.5,"uvIndex":0,"visibility":2.824,"ozone":292.5},"hourly":{"summary":"Foggy
        this evening.","icon":"fog","data":[{"time":1564534800,"summary":"Foggy","icon":"fog","precipIntensity":0.0049,"precipProbability":0.06,"precipType":"rain","temperature":80.02,"apparentTemperature":80.02,"dewPoint":50.64,"humidity":0.36,"pressure":1014.88,"windSpeed":8.47,"windGust":18.37,"windBearing":137,"cloudCover":0.75,"uvIndex":0,"visibility":1.167,"ozone":292.2},{"time":1564538400,"summary":"Partly
        Cloudy","icon":"partly-cloudy-day","precipIntensity":0,"precipProbability":0,"temperature":79.02,"apparentTemperature":79.02,"dewPoint":50.02,"humidity":0.36,"pressure":1015.01,"windSpeed":6.36,"windGust":13.09,"windBearing":299,"cl[...]
