---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<GOOGLE_API_GEOLOCATION>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 31 Jul 2019 17:45:53 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/39.7392358,-104.990251?exclude=minutely,alerts,flags
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 432ms
      X-Forecast-Api-Calls:
      - '82'
      X-Response-Time:
      - 173.413ms
    body:
      encoding: UTF-8
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1564595153,"summary":"Partly
        Cloudy","icon":"partly-cloudy-day","nearestStormDistance":275,"nearestStormBearing":286,"precipIntensity":0,"precipProbability":0,"temperature":84.9,"apparentTemperature":84.9,"dewPoint":49.62,"humidity":0.3,"pressure":1015.85,"windSpeed":6.58,"windGust":12.94,"windBearing":27,"cloudCover":0.43,"uvIndex":7,"visibility":4.965,"ozone":296.2},"hourly":{"summary":"Partly
        cloudy throughout the day.","icon":"partly-cloudy-day","data":[{"time":1564592400,"summary":"Partly
        Cloudy","icon":"partly-cloudy-day","precipIntensity":0,"precipProbability":0,"temperature":83.15,"apparentTemperature":83.15,"dewPoint":50.08,"humidity":0.32,"pressure":1015.83,"windSpeed":6.34,"windGust":13.41,"windBearing":28,"cloudCover":0.42,"uvIndex":6,"visibility":4.438,"ozone":296.7},{"time":1564596000,"summary":"Partly
        Cloudy","icon":"partly-cloudy-day","precipIntensity":0,"precipProbability":0,"temperature":85.44,"apparentTemperature":85.44,"dewPoint":49.47,"humidity":0.29,"pressure":1015.86,"windSpeed":6.65,"windGust":12.8,"windBearing":27,"cloudCover":0.43,"uvIndex":8,"visibility":5.128,"ozone":296.1},{"time":1564599600,"summary":"Partly
        Cloudy","icon":"partly-cloudy-day","precipIntensity":0.0019,"precipProbability":0.01,"precipType":"rain","temperature":89.07,"apparentTemperature":89.07,"dewPoint":47.41,"humidity":0.24,"pressure":1014.5,"windSpeed":7.38,"windGust":12.51,"windBearing":33,"cloudCover":0.33,"uvIndex":9,"visibility":6.893,"ozone":295.6},{"time":1564603200,"summary":"Partly
        Cloudy","icon":"partly-cloudy-day","precipIntensity":0.0016,"precipProbability":0.02,"precipType":"rain","temperature":92.4,"apparentTemperature":92.4,"dewPoint":43.83,"humidity":0.19,"pressure":1011.99,"windSpeed":7.12,"windGust":9.0[...]
