---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/37.8267,-122.4233?exclude=minutely,alerts,flags
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 477ms
      X-Forecast-Api-Calls:
      - '49'
      X-Response-Time:
      - 268.263ms
    body:
      encoding: UTF-8
      string: '{"latitude":37.8267,"longitude":-122.4233,"timezone":"America/Los_Angeles","currently":{"time":1564537576,"summary":"Clear","icon":"clear-day","nearestStormDistance":302,"nearestStormBearing":147,"precipIntensity":0,"precipProbability":0,"temperature":63.74,"apparentTemperature":63.74,"dewPoint":53.04,"humidity":0.68,"pressure":1013.22,"windSpeed":8.96,"windGust":13.9,"windBearing":259,"cloudCover":0.08,"uvIndex":1,"visibility":8.374,"ozone":299.6},"hourly":{"summary":"Partly
        cloudy throughout the day.","icon":"partly-cloudy-day","data":[{"time":1564534800,"summary":"Clear","icon":"clear-day","precipIntensity":0,"precipProbability":0,"temperature":64.86,"apparentTemperature":64.86,"dewPoint":53.12,"humidity":0.66,"pressure":1013.39,"windSpeed":9.48,"windGust":13.32,"windBearing":246,"cloudCover":0.12,"uvIndex":2,"visibility":8.704,"ozone":299.8},{"time":1564538400,"summary":"Clear","icon":"clear-day","precipIntensity":0,"precipProbability":0,"temperature":63.41,"apparentTemperature":63.41,"dewPoint":53.02,"humidity":0.69,"press[...]
