---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/directions/json?destination=pueblo,co&key=<GOOGLE_API_GEOLOCATION>&origin=denver,co&travelMode=DRIVING
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "geocoded_waypoints" : [
              {
                 "geocoder_status" : "OK",
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              },
              {
                 "geocoder_status" : "OK",
                 "place_id" : "ChIJZbEbB_OiE4cRLrjHaKNrLag",
                 "types" : [ "locality", "political" ]
              }
           ],
           "routes" : [
              {
                 "bounds" : {
                    "northeast" : {
                       "lat" : 39.7420834,
                       "lng" : -104.6040754
                    },
                    "southwest" : {
                       "lat" : 38.2542053,
                       "lng" : -105.0158571
                    }
                 },
                 "copyrights" : "Map data ©2019",
                 "legs" : [
                    {
                       "distance" : {
                          "text" : "114 mi",
                          "value" : 184172
                       },
                       "duration" : {
                          "text" : "1 hour 47 mins",
                          "value" : 6413
                       },
                       "end_address" : "Pueblo, CO, USA",
                       "end_location" : {
                          "lat" : 38.2542053,
                          "lng" : -104.6087488
                       },
                       "start_address" : "Denver, CO, USA",
                       "start_location" : {
                          "lat" : 39.7411598,
                          "lng" : -104.9879112
                       },
                       "steps" : [
                          {
                             "distance" : {
                                "text" : "157 ft",
                                "value" : 48
                             },
                             "duration" : {
                                "text" : "1 min",
                                "value" : 16
                             },
                             "end_location" : {
                                "lat" : 39.7414646,
                                "lng" : -104.9883164
                             },
                             "html_instructions" : "Head \u003cb\u003enorthwest\u003c/b\u003e toward \u003cb\u003eCleveland Pl\u003c/b\u003e",
                             "polyline" : {
                                "points" : "g}pqFlmx_S{@pA"
                             },
                             "start_location" : {
                                "lat" : 39.7411598,
                                "lng" : -104.9879112
                             },
                             "travel_mode" : "DRIVING"
                          },
                          {
                             "distance" : {
                                "text" : "282 ft",
                                "value" : 86
                             },
                             "duration" : {
                                "text" : "1 min",
                                "value" : 53
                             },
                             "end_location" : {
                                "lat" : 39.7409126,
                                "lng" : -104.9890212
                             },
                             "html_instructions" : "Turn \u003cb\u003eleft\u003c/b\u003e onto \u003cb\u003eCleveland Pl\u003c/b\u003e",
                             "maneuver" : "turn-left",
                             "polyline" : {
                                "points" : "c_qqF~ox_SlBjC"
                             },
                             "start_location" : {
                                "lat" : 39.7414646,
                                "lng" : -104.9883164
                             },
                             "travel_mode" : "DRIVING"
                          },
                          {
                             "distance" : {
       [...]
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories&limit=3&location=pueblo,co&open_at=1564544038
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YELP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4993'
      Ratelimit-Resettime:
      - '2019-08-01T00:00:00+00:00'
      X-Zipkin-Id:
      - e0963a3521035d75
      X-Proxied:
      - 10-69-109-59-uswest2aprod
    body:
      encoding: UTF-8
      string: '{"businesses": [{"id": "S_sW4cZsXUC60GUrtIHe3A", "alias": "shamrock-brewing-pueblo",
        "name": "Shamrock Brewing", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/ZwZFj0uUcYJATEUaC0E5Bg/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/shamrock-brewing-pueblo?adjust_creative=<YELP_ClIENT_ID>&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=<YELP_ClIENT_ID>",
        "review_count": 308, "categories": [{"alias": "irish", "title": "Irish"},
        {"alias": "irish_pubs", "title": "Irish Pub"}, {"alias": "brewpubs", "title":
        "Brewpubs"}], "rating": 4.0, "coordinates": {"latitude": 38.2695003, "longitude":
        -104.6077592}, "transactions": [], "price": "$$", "location": {"address1":
        "108 W 3rd St", "address2": "", "address3": "", "city": "Pueblo", "zip_code":
        "81003", "country": "US", "state": "CO", "display_address": ["108 W 3rd St",
        "Pueblo, CO 81003"]}, "phone": "+17195429974", "display_phone": "(719) 542-9974",
        "distance": 3004.145195380956}, {"id": "hfHvhq_xOFKwRQEZ51TkKA", "alias":
        "downtown-bar-pueblo", "name": "Downtown Bar", "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/wbK0AE_S9luXTTJcpkc6uQ/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/downtown-bar-pueblo?adjust_creative=<YELP_ClIENT_ID>&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=<YELP_ClIENT_ID>",
        "review_count": 19, "categories": [{"alias": "ba[...]
