---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/directions/json?destination=Pueblo,CO&key=<GOOGLE_API_GEOLOCATION>&origin=Denver,CO&travelMode=DRIVING
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "geocoded_waypoints" : [
              {
                 "geocoder_status" : "OK",
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              },
              {
                 "geocoder_status" : "OK",
                 "place_id" : "ChIJZbEbB_OiE4cRLrjHaKNrLag",
                 "types" : [ "locality", "political" ]
              }
           ],
           "routes" : [
              {
                 "bounds" : {
                    "northeast" : {
                       "lat" : 39.7420834,
                       "lng" : -104.6040754
                    },
                    "southwest" : {
                       "lat" : 38.2542053,
                       "lng" : -105.0158571
                    }
                 },
                 "copyrights" : "Map data ©2019",
                 "legs" : [
                    {
                       "distance" : {
                          "text" : "114 mi",
                          "value" : 184172
                       },
                       "duration" : {
                          "text" : "1 hour 47 mins",
                          "value" : 6413
                       },
                       "end_address" : "Pueblo, CO, USA",
                       "end_location" : {
                          "lat" : 38.2542053,
                          "lng" : -104.6087488
                       },
                       "start_address" : "Denver, CO, USA",
                       "start_location" : {
                          "lat" : 39.7411598,
                          "lng" : -104.9879112
                       },
                       "steps" : [
                          {
                             "distance" : {
                                "text" : "157 ft",
                                "value" : 48
                             },
                             "duration" : {
                                "text" : "1 min",
                                "value" : 16
                             },
                             "end_location" : {
                                "lat" : 39.7414646,
                                "lng" : -104.9883164
                             },
                             "html_instructions" : "Head \u003cb\u003enorthwest\u003c/b\u003e toward \u003cb\u003eCleveland Pl\u003c/b\u003e",
                             "polyline" : {
                                "points" : "g}pqFlmx_S{@pA"
                             },
                             "start_location" : {
                                "lat" : 39.7411598,
                                "lng" : -104.9879112
                             },
                             "travel_mode" : "DRIVING"
                          },
                          {
                             "distance" : {
                                "text" : "282 ft",
                                "value" : 86
                             },
                             "duration" : {
                                "text" : "1 min",
                                "value" : 53
                             },
                             "end_location" : {
                                "lat" : 39.7409126,
                                "lng" : -104.9890212
                             },
                             "html_instructions" : "Turn \u003cb\u003eleft\u003c/b\u003e onto \u003cb\u003eCleveland Pl\u003c/b\u003e",
                             "maneuver" : "turn-left",
                             "polyline" : {
                                "points" : "c_qqF~ox_SlBjC"
                             },
                             "start_location" : {
                                "lat" : 39.7414646,
                                "lng" : -104.9883164
                             },
                             "travel_mode" : "DRIVING"
                          },
                          {
                             "distance" : {
       [...]
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/38.2542053,-104.6087488?exclude=minutely,alerts,flags
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 362ms
      X-Forecast-Api-Calls:
      - '57'
      X-Response-Time:
      - 68.894ms
    body:
      encoding: UTF-8
      string: '{"latitude":38.2542053,"longitude":-104.6087488,"timezone":"America/Denver","currently":{"time":1564539111,"summary":"Partly
        Cloudy","icon":"partly-cloudy-night","nearestStormDistance":2,"nearestStormBearing":263,"precipIntensity":0,"precipProbability":0,"temperature":81.38,"apparentTemperature":81.38,"dewPoint":49.93,"humidity":0.34,"pressure":1012.49,"windSpeed":7.27,"windGust":9.5,"windBearing":313,"cloudCover":0.48,"uvIndex":0,"visibility":10,"ozone":293.6},"hourly":{"summary":"Partly
        cloudy throughout the day.","icon":"partly-cloudy-day","data":[{"time":1564538400,"summary":"Partly
        Cloudy","icon":"partly-cloudy-day","precipIntensity":0,"precipProbability":0,"temperature":81.94,"apparentTemperature":81.94,"dewPoint":49.73,"humidity":0.33,"pressure":1012.37,"windSpeed":7.43,"windGust":9.42,"windBearing":323,"cloudCover":0.47,"uvIndex":0,"visibility":10,"ozone":293.6},{"time":1564542000,"summary":"Mostly
        Cloudy","icon":"partly-cloudy-night","precipIntensity":0,"precipProbability":0,"temperature":79.1,"apparentTemperature":[...]
