---
http_interactions:
- request:
    method: get
    uri: https://www.flickr.com/services/rest/?api_key=<FLICKER_API_KEY>&format=json&method=flickr.photos.search&nojsoncallback=1&text=denver,co%20skyline%20downtown
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":1,"perpage":100,"total":"89","photo":[{"id":"33823599548","owner":"35390579@N04","secret":"eee1c4fc2a","server":"65535","farm":66,"title":"Day115_2019","ispublic":1,"isfriend":0,"isfamily":0},{"id":"42271115360","owner":"66898813@N06","secret":"3b3d1dd71a","server":"1837","farm":2,"title":"Denver,
        CO | 20189.08.16 | Denver Skyline","ispublic":1,"isfriend":0,"isfamily":0},{"id":"43691964192","owner":"8121206@N07","secret":"4ff507454d","server":"930","farm":1,"title":"Denver
        Skyline","ispublic":1,"isfriend":0,"isfamily":0},{"id":"39906801434","owner":"75688338@N00","secret":"9732467d50","server":"4786","farm":5,"title":"03.03.18","ispublic":1,"isfriend":0,"isfamily":[...]
